/* Start Varibles */
:root {
  --mainColor: #ff9933;
  --secondColor: #ffff;
}
/* End Varibles */
/* Start Global Rules */
* {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  direction: rtl;
}
body {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 75%)),
    url(../images/background.jpg);
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  width: 100%;
  background-color: var(--secondColor);
  height: 100px;
  box-shadow: 0 1px 20px 0px;
  user-select: none;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header .logo {
  width: 100px;
  height: 100px;
}
header .header .links ul {
  list-style: none;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
header .header .links ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  color: #12130f;
  width: 100%;
}
header .header .links ul li a.active,
header .header .links ul li a:hover {
  color: var(--mainColor);
}
header .header .menu {
  display: none;
}
@media (max-width: 768px) {
  header .header .logo {
    font-size: 14px;
  }
  header .header .links {
    width: 50%;
    position: absolute;
    left: 0px;
    top: 100px;
    transition: 0.2s;
    background-color: var(--secondColor);
  }
  header .header .links ul {
    flex-direction: column;
    text-align: center;
  }
  header .header .links ul li:not(:last-child) {
    border: none;
    border-bottom: 1px solid black;
  }
  header .header .links.hidden {
    right: 100%;
    position: fixed;
  }
  header .header .menu {
    display: block;
    transform: rotate(180deg);
  }
}
/* End Header */
#workteam {
  user-select: none;
  margin-block: 50px;
}
#workteam .Work-Team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#workteam .Work-Team h1 {
  color: var(--mainColor);
}
#workteam .Work-Team .person {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  font-size: 19px;
}
#workteam .Work-Team .person .name {
  color: var(--secondColor);
}

#workteam .Work-Team .person .specialty {
  color: var(--mainColor);
}
@media (max-width: 492px) {
  #workteam .Work-Team .person {
    flex-wrap: wrap;
    justify-content: center;
  }
  #workteam .Work-Team .person .name {
    padding-block-end: 15px;
  }
}
/* Start Footer */
footer {
  background-color: black;
}
.foot {
  min-height: 5vh;
  display: flex;
  align-items: center;
}
.copyright {
  text-align: center;
  color: var(--secondColor);
  user-select: none;
}
.copyright span {
  color: var(--mainColor);
}
.copyright a {
  text-decoration: none;
  color: var(--secondColor);
}
.copyright a:hover {
  color: var(--mainColor);
}
/*End Footer */
